@import "tailwindcss";
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html{
  scroll-behavior: smooth;
   scrollbar-width: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
 
}


body {
  background: black;
  color: white;
  font-family: var(--font-lato), sans-serif;
}

@theme {
  --color-primary: #481709;
  --color-primary-foreground: #ff6100;
  --color-secondary: #eb3cab;
  --color-secondary-foreground: #c149e6;
  --color-accent: #009061;
  --color-accent-foreground:#019b4a;
  --color-success: #2486fe;
  --color-newGray:#8d9094;
   --color-buttonColor: #d87a38;

  
}
.mainContainer{
  width:80%;
  margin: 0 auto;
}

@layer components {
  .btn {
    @apply hover:bg-buttonColor text-white py-2 px-6 rounded-lg 
              w-fit text-center border border-buttonColor hover:border-primary transition-all duration-300 ease-in-out;
  }
}
